@page "/area-adm"

<div class="d-flex justify-content-evenly align-items-center" style="min-height: 80vh;">
    <div class="fundo flex-wrap">
        <NavLink href="/usuario/admin/create" class="mt-2 mb-2 text-decoration-none" style="color: white;">
            <button class="btn btn-primary" style="width: 10rem;">
                Criar ADM
            </button>
        </NavLink>

        <NavLink href="/usuario/list" class="mt-2 mb-2 text-decoration-none" style="color: white;">
            <button class="btn btn-primary" style="width: 10rem;">
                Listar Usuários
            </button>
        </NavLink>

    </div>
</div>

<style>
    .fundo {
        background-color: #FFFFFF;
        padding: 2rem;
        width: 80%;
        border-radius: 0.5rem;
        display: flex;
        justify-content: space-evenly;
        margin: 1rem auto;
    }
</style>


@code {
    protected override void OnInitialized()
    {
        PageTitleService.SetPageTitle("ÁREA ADMINISTRATIVA");
        BackgroundColorService.SetBackgroundColor("#E8E8E8");
    }
}
