@page "/area-adm"

<h3 style="margin-top: 2rem;">Área Administrativa</h3>

<RadzenCard class="mw-100 w-100 d-flex justify-content-evenly flex-wrap">
    <a href="/usuario/admin/create" class="mt-2 mb-2"><RadzenButton Style="background-color: #517fa4; width: 10rem;">Criar Administrador</RadzenButton></a>
    <a href="/usuario/list" class="mt-2 mb-2"><RadzenButton Style="background-color: #517fa4; width: 10rem;">Listar Usuários</RadzenButton></a>
</RadzenCard>

@code {

}