@inherits LayoutComponentBase


    <div class="page">
    @if (PageTitleService.PageTitle != "LOGIN")
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }
        <main>
            @Body
        </main>
    </div>


@code {
    protected override void OnInitialized()
    {
        PageTitleService.OnTitleChanged += StateHasChanged;
    }

    public void Dispose()
    {
        PageTitleService.OnTitleChanged -= StateHasChanged;
    }
}