@inherits LayoutComponentBase

<div class="page">
    @if(RenderWhenLogged){
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    <main>
        @Body
    </main>
</div>


@code {
    public bool RenderWhenLogged { get; private set; } = false;

    protected override void OnInitialized()
    {
        AuthService.OnLogin += HandleLoggedInEvent;
        AuthService.OnLogout += HandleLoggedOutEvent;
    }

    private void HandleLoggedInEvent()
    {
        RenderWhenLogged = true;
    }

    private void HandleLoggedOutEvent()
    {
        RenderWhenLogged = false;
    }
}