@inherits LayoutComponentBase


    <div class="page" style="background-color: @BackgroundColorService.BackgroundColor;">
    @if (PageTitleService.PageTitle != "LOGIN")
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    <main>
            @Body
    </main>
    </div>


@code {
    protected override void OnInitialized()
    {
        PageTitleService.OnTitleChanged += StateHasChanged;
        BackgroundColorService.OnBackgroundColorChanged += StateHasChanged;
    }

    public void Dispose()
    {
        PageTitleService.OnTitleChanged -= StateHasChanged;
        BackgroundColorService.OnBackgroundColorChanged -= StateHasChanged;
    }
}