@inherits LayoutComponentBase

<div class="page">
    @if(UsuarioLogado.IsLogged){
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    <main>
        @Body
    </main>
</div>
