@page "/user/login"

<h3>UsuarioLogin</h3>

<RadzenStack AlignItems="AlignItems.Center" class="rz-mx-auto rz-my-12">

    <RadzenImage Path="Images/logo.png" Style="width: 15rem;" AlternateText="community" />

</RadzenStack>

@code {

}
