@page "/"
@using Radzen.Blazor

<h3 style="text-align: center; margin-top: 10px; color: black;">UsuarioLogin</h3>

<RadzenStack AlignItems="AlignItems.Center" class="rz-mx-auto rz-my-12">

    <RadzenImage Path="/Resources/Images/logo.png" Style="width: 15rem; height: 15rem" AlternateText="community" />

</RadzenStack>

@code {

}
