@page "/"

<div id="fundo" style="display: flex; justify-content: center; height: 60vh; border: solid 3px  ;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px; background-color: #E8E8E8;">
    <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
        <RadzenImage Path="Images/logo.png" Style="width: 11rem; height: 13rem; margin-top: 20%;" AlternateText="community" />
    </RadzenStack>
</div>

<div id="fundo2" style="display: flex; justify-content: center; height: 35vh; background-color: #3685CD; width: 100%;">
    <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
        <RadzenImage Path="Images/mapa.png" Style="width: 8rem; height: 6rem; opacity: 50%; transform: rotate(12deg); margin-top: 80%;" AlternateText="community" />
    </RadzenStack>
</div>



@code {
}
