@page "/usuario/admin/create"
@using MataoMaps.Domain.DTOs.Usuario.Request

<!-- Formulário de Criação de Admin -->
<div class="align">

    <EditForm Model="@usuarioAdicionarRequest" OnValidSubmit="@AdicionarUsuario">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="container">
            <button class="btn mt-4 mb-3 rounded-circle d-flex" style="width: 48px; background-color: #E8E8E8;" @onclick="GoBack">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" fill="currentColor" class="bi bi-arrow-left d-flex justify-content-center" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                </svg>
            </button>
        </div>

        <div class="form-group">
            <InputText id="Nome" @bind-Value="usuarioAdicionarRequest.Nome" placeholder="Nome Completo" class="text-input" />
        </div>

        <div class="form-group">
            <InputText id="EmailLogin" @bind-Value="usuarioAdicionarRequest.EmailLogin" placeholder="Email" class="text-input" />
        </div>

        <div class="form-group">
            <InputText id="EmailLoginConfirmacao" @bind-Value="usuarioAdicionarRequest.EmailLoginConfirmacao" placeholder="Confirme o Email" class="text-input" />
        </div>

        <div class="form-group">
            <InputText id="Senha" @bind-Value="usuarioAdicionarRequest.Senha" placeholder="Senha" type="password" class="text-input" />
        </div>

        <div class="form-group">
            <InputText id="SenhaConfirmacao" @bind-Value="usuarioAdicionarRequest.SenhaConfirmacao" placeholder="Confirme a senha" type="password" class="text-input" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn-publicar" disabled="@isLoading">
                @if (isLoading)
                {
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden">Loading...</span>
                }
                else
                {
                    <span>Criar Administrador</span>
                }
            </button>
        </div>
    </EditForm>
</div>

<RadzenNotification />

<style>
    .text-input {
        width: 80%;
        border: none;
        border-radius: 2rem;
        height: 2rem;
        margin: 2rem auto;
        padding: 1.5rem;
        display: block;
        outline: none;
        background-color: #e8e8e8;
    }

    .align {
        text-align: center; /* Alinha o conteúdo ao centro */
        background-color: #FFFFFF;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .btn-publicar {
        display: block;
        width: 80%;
        margin: 1rem auto;
        padding: 0.75rem;
        border: none;
        border-radius: 2rem;
        background-color: #3685cd;
        color: white;
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s;
        z-index: 10;
        position: relative;
        margin-top: 3rem;
    }

        .btn-publicar:hover {
            background-color: #0056b3;
        }
</style>

@code {
    UsuarioAdicionarRequest usuarioAdicionarRequest = new UsuarioAdicionarRequest();
    public bool isLoading = false;

    protected override void OnInitialized()
    {
        PageTitleService.SetPageTitle("CRIAR ADMINISTRADOR");
        BackgroundColorService.SetBackgroundColor("#FFFFFF");
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/area-adm");
    }


    public async Task AdicionarUsuario()
    {
        isLoading = true;
        try
        {
            usuarioAdicionarRequest.EhAdmin = true;

            var response = await HttpClient.PostAsJsonAsync("usuario/adicionar", usuarioAdicionarRequest);
            if (response.IsSuccessStatusCode)
            {
                NotificationService.Notify(NotificationSeverity.Success, "Administrador cadastrado com sucesso!");
                NavigationManager.NavigateTo("/usuario/list");
            }
            else
            {
                NotificationService.Notify(NotificationSeverity.Error, "Erro ao cadastrar o administrador");
            }
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Erro ao cadastrar o administrador");
        }
        finally
        {
            isLoading = false;
        }
    }
}
