@page "/usuario/cadastro"

<div class="align">

    <input type="text" placeholder="Email" class="text-input" />

    <input type="text" placeholder="Nome Completo" class="text-input" />

    <input type="password" placeholder="Senha" class="text-input" />

    <input type="password" placeholder="Confirme a senha" class="text-input" />

    <button class="btn-publicar">Criar conta</button>

</div>

<style>
    .text-input {
        width: 80%;
        border: none;
        border-radius: 0.5rem;
        height: 2rem;
        padding: 1.5rem;
        margin: 2rem auto;
        display: block;
        outline: none;
        background-color: #e8e8e8;
        border-radius: 2rem;
    }

    .align {
        margin-top: 3rem;
    }

    .btn-publicar {
        display: block; /* Faz com que o botão se comporte como um bloco, ocupando a largura disponível */
        width: 80%; /* Define a largura do botão */
        margin: 1rem auto; /* Centraliza o botão horizontalmente e adiciona espaçamento acima e abaixo */
        padding: 0.75rem; /* Adiciona espaçamento interno ao botão */
        border: none; /* Remove a borda padrão do botão */
        border-radius: 2rem; /* Borda arredondada para combinar com outros elementos */
        background-color: #3685cd; /* Cor de fundo azul para o botão */
        color: white; /* Cor do texto */
        font-weight: bold; /* Texto em negrito */
        font-size: 1rem; /* Tamanho da fonte */
        text-align: center; /* Centraliza o texto */
        cursor: pointer; /* Altera o cursor para indicar que é clicável */
        transition: background-color 0.3s; /* Adiciona uma transição suave para a mudança de cor */
        z-index: 10; /* Adiciona um z-index para garantir que o botão fique acima de outros elementos */
        position: relative; /* Faz com que o z-index funcione */
        margin-top: 3rem; /* Adiciona um espaçamento superior ao botão */
    }
        .btn-publicar:hover {
            background-color: #0056b3; /* Cor de fundo mais escura ao passar o mouse */
        }
</style>

@code {
    protected override void OnInitialized()
    {
        PageTitleService.SetPageTitle("CRIE SUA CONTA");
    }

}
