@using MataoMaps.Presentation.Components.Layout.Menu
<div class="top-row ps-3 navbar navbar-dark">
    <div class="logout">
        <button class="align-item-logout" @onclick="Logout">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
            </svg>
        </button>
    </div>
    <div class="container-fluid">
        <h2 class="navbar-brand text-break">
            @if (PageTitleService.PageTitle == "CRIE SUA CONTA")
            {
                <p style="display: inline;">CRIE SUA</p>
                <p style="color: #f9d857">CONTA</p>
            }
            else
            {
                @PageTitleService.PageTitle
            }
        </h2>
    </div>
</div>

@if (UsuarioLogadoService.IsLogged)
{
    <Menu IsOpen="MenuService.IsMenuOpen" />

    @if (!MenuService.IsMenuOpen)
    {
        <input type="checkbox" id="navbar-toggler" title="Navigation menu" class="navbar-toggler" @bind="MenuService.IsMenuOpen" />
        <label for="navbar-toggler" class="navbar-toggler-label">
            <span></span>
            <span></span>
            <span></span>
        </label>

    }

}
@code {

    protected override void OnInitialized()
    {
        PageTitleService.OnTitleChanged += StateHasChanged;

        MenuService.OnMenuToggle += (isOpen) =>
        {
            StateHasChanged(); // Atualiza o estado do componente quando o menu é aberto/fechado
        };
    }

    public void Dispose()
    {
        PageTitleService.OnTitleChanged -= StateHasChanged;

        MenuService.OnMenuToggle -= (isOpen) => StateHasChanged(); // Remove o evento ao descartar o componente
    }

    public void Logout()
    {
        UsuarioLogadoService.IsLogged = false;
        UsuarioLogadoService.EhAdmin = false;
        NavigationManager.NavigateTo("/");
        StateHasChanged();
    }
}
