*[b-l5uj9cdamt] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page[b-l5uj9cdamt] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

body[b-l5uj9cdamt] {
    overflow-x: hidden; /* Impede o overflow horizontal */
}


.sidebar[b-l5uj9cdamt] {
    /*    background-image: linear-gradient(180deg, #C21616, black);*/
    /*background-image: linear-gradient(180deg, #00bfff, black);*/
    background-color: #3685CD;
    border-radius: 0 0 1rem 1rem;
}

.top-row[b-l5uj9cdamt] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-l5uj9cdamt]  a, .top-row[b-l5uj9cdamt]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-l5uj9cdamt]  a:hover, .top-row[b-l5uj9cdamt]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-l5uj9cdamt]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }
/* 640.98 px*/
@media (max-width: 768px) {
    .top-row[b-l5uj9cdamt] {
        justify-content: space-between;
    }

        .top-row[b-l5uj9cdamt]  a, .top-row[b-l5uj9cdamt]  .btn-link {
            margin-left: 0;
        }
}

@media (max-width: 768px) {
    .rz-row[b-l5uj9cdamt] {
        margin-bottom: 100px; /* Ajuste o valor conforme necess�rio */
    }
}

/* 640px*/
@media (min-width: 768px) {
    .page[b-l5uj9cdamt] {
        flex-direction: row;
    }

    .sidebar[b-l5uj9cdamt] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-l5uj9cdamt] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-l5uj9cdamt]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-l5uj9cdamt], article[b-l5uj9cdamt] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
